.wrapper
  .sidebar
    .header
      .header__name.clearfix
        %h3 seo
      %a.header__list_new_group{ href: "#" }
        %i.clearfix{ class: "fa fa-pencil-square-o"}
      %a.header__list_user_setting{ href: "#" }
        %i{ class: "fa fa-cog"}


    .groups
      =render partial: "group"
      =render partial: "group"

  .chat
    .header
      .left-header
        %h3.left-header__name
          sample
        %ul.left-header__members.clearfix
          Members:
          %li.member
            seo
          %li.member
            neko
      .right-header
        %a.right-header__button{ href: "#" }
          Edit

    .messages
      =render partial: "message"
      =render partial: "message"

    .form.clearfix
      %form.new-message
        %input.form__message{type: "text_field", placeholder: "Type a message"}
        %label.form__image
          %input{type: "file", style: "display:none"}
          %i{ class: "fa fa-file-image-o"}
        %input.form__submit{type: "submit", value: "Send"}
